[Desktop Entry]
Name=Photo Scanner
Name[de]=Photo Scanner
Comment=Scan, detect, and save paper photos individually
Comment[de]=Papierfotos scannen, erkennen und einzeln speichern
Exec=photoscanner gui
Icon=de.martin.PhotoScanner
Terminal=false
Type=Application
Categories=Graphics;Scanning;
Keywords=Scanner;Photos;PhotoPrism;SANE;Archive;
Keywords[de]=Scanner;Fotos;PhotoPrism;SANE;Archiv;
StartupNotify=true
StartupWMClass=de.martin.PhotoScanner
